################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Demo/Demo/bin/Debug/netcoreapp3.1
/Demo/FreeSqlDbStorage/bin/Debug/netstandard2.1
/Demo/FreeSqlDbStorage/obj
/Demo/MongoDbStorage/bin/Debug/netcoreapp3.1
/Demo/MongoDbStorage/obj
/Demo/MongoDbStorage
bin
obj
/Demo/DbStorage/obj
/Demo/DbStorage/bin
/Demo/FreeSqlDbStorage/bin
/Demo/FreeSqlDbStorage/obj
/Demo/MongoDbStorage/bin
/Demo/MongoDbStorage/obj
/Demo/Demo/obj
